h1{
    font-size: 50px;
    
}
body{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
}
hr{
    width: 70%;
    border: 2px solid black;
}
.date{
    width: 30%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 40%;
}
.p{
    width: 150px;
    height: 300px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
.a{
    width: 150px;
    height: 300px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
}